################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GymManagementSystem/FileContentIndex/013ecb81-ecf8-4fbf-b945-e169d0e5bd14.vsidx
